# username and password should be replaced with actual credentials
POSTGRES_USER="postgres" # Database username
POSTGRES_PASSWORD="postgres" # Database password
POSTGRES_HOST="localhost" # Database host
POSTGRES_PORT="5454" # Database port
POSTGRES_DB="ox_game" # Database name

# Database Configuration
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}" # Full database connection string