@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");

@import "tailwindcss";

:root {
  --background: #f5f7fa;
  --foreground: #171717;
  --primary: #2fb6e6;
  --primary-dark: #1fa0cf;
  --primary-light: #e6f7fd;
  --secondary: #667085;
  --secondary-dark: #4b5563;
  --secondary-light: #f0f4ff;
  --card: #ffffff;
  --border: #d1d5db;
  --accent: #df4c9d;
  --success: #12b76a;
  --warning: #f79009;
  --error: #f04438;
  --info: #2fb6e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #ededed;
    --primary: #2fb6e6;
    --primary-dark: #1fa0cf;
    --primary-light: #e6f7fd;
    --secondary: #667085;
    --secondary-dark: #4b5563;
    --secondary-light: #f0f4ff;
    --card: #1f1f1f;
    --border: #4b5563;
    --accent: #df4c9d;
    --success: #12b76a;
    --warning: #f79009;
    --error: #f04438;
    --info: #2fb6e6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans Thai", sans-serif;
}

.swal2-confirm{
  background-color: var(--primary) !important;
}