NODE_ENV="development"
FRONTEND_URL="http://localhost:3001"
PORT=3000

DATABASE_HOST="db" #  !!!! change to db if using Docker !!!!
DATABASE_PORT="5432" #  !!!! change to 5432 if using Docker !!!!
DATABASE_USERNAME="postgres" 
DATABASE_PASSWORD="postgres"
DATABASE_NAME="ox_game"

# Database Configuration
DATABASE_URL="postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}" # Full database connection string

APP_NAME="OX GAME API"
ACCESS_TOKEN_SECRET="UT0qcwG5BMO3nCUDbcTyXh87DbGnR5diYtKW5JGtcVSHKEAzhb1OdUHMIATAYBq2" 
REFRESH_TOKEN_SECRET="VKY4WV2TpYF9g0VaKkkiFkDWFYd8xbNCVp8OHLrSOHxBisY2VtNWVTlUhz79WSRL"
ACCESS_TOKEN_EXPIRATION="30m"
REFRESH_TOKEN_EXPIRATION="7d" 

